$main-font-stack: "Montserrat", "Arial", sans-serif;
$title-add-font: "Kaushan Script";
$services-Shortdescr-font: "Roboto";
$base-font-size: 14px;
$base-font-weight: 400;
$base-font-color: #000;
$main-color: #fff;
$link-active-color: #fce38a;
$title-after-color: #f38181;
$title-add-color: #333333;
$services-Shortdescr-color: #999999;
$main-underline-color: #e5e5e5;
$input-btn-color: #95e1d3;
    
