html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

.page-nav {
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  justify-content: space-between;
}

.page-header {
  margin-bottom: 134px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 490px;
  list-style: none;
  text-transform: uppercase;
}

.site-navigation a {
  display: block;
  color: #95e1d3;
  text-decoration: none;
  transition: color 200ms linear;
}

.logo {
  margin: 0;
  color: #95e1d3;
  font-family: "Montserrat";
  font-weight: 700;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #f38181;
}

.site-navigation-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  height: 3px;
  background-color: #f38181;
  margin: 10px auto 0 auto;
  opacity: 0;
  transition: opacity 200ms linear;
}

.site-navigation-item:hover::after {
  opacity: 1;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  color: #f38181;
}
.services-title-add,
.services-title {
  margin: 0;
  padding: 0;
}

.services-title-add,
.team-title-add {
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.services-title,
.team-title {
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.services-title::after,
.team-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.services-title::after {
  margin: 40px auto 64px auto;
}

.team-title::after {
  margin: 40px auto 46px auto;
}

.services-list-item {
  display: flex;
  flex: 0 0 380px;
  justify-content: space-between;
}

.services-list-item-icon {
  margin: 0 30px 0 20px;
}

.services-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.services-item-title,
.services-item-Shortdescr {
  padding: 0;
  margin: 0;
}

.services-item-title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
}

.services-item-Shortdescr {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}
.services {
  margin-bottom: 100px;
}

.team-list-item-image {
  display: block;
  width: 380px;
  height: 470px;
  object-fit: none;
  position: relative;
}

.team-list-item:nth-child(1) img {
  object-position: 20% 50%;
}

.team-list-item:nth-child(2) img {
  object-position: 50% 95%;
}
.team-list-item:nth-child(3) img {
  object-position: 50% 5%;
}

.team-socials {
  margin-bottom: 26px;
}

.team-descr {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-bottom: 90px;
}

.name {
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.occupation {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.team-socials {
  display: flex;
  width: 380px;
  height: 470px;
  justify-content: center;
  align-items: center;
}

.team-socials {
  display: flex;
  position: relative;
}

.team-socials:hover {
  transform: translate(-10px, -10px);
  transition: transform 200ms linear;
}

.team-socials::after {
  content: "";
  opacity: 0;
  transition: opacity 200ms linear;
}

.team-socials:hover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(240, 226, 144, 50%) 0%,
    rgba(233, 138, 137, 50%) 100%
  );
  z-index: 50;
  opacity: 1;
}
.team-socials:hover .team-socials-list {
  opacity: 1;
  transition: opacity 200ms linear;
}

.team-socials-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.team-socials-list a {
  display: block;
  width: 56px;
  height: 56px;
  background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center;
  outline: 1px solid #f38181;
  transition: background-color 200ms linear;
}

.team-socials-list-item > a:hover {
  background-color: #95e1d3;
}

.icon-Facebook {
  background-image: url("../img/facebook_15_29.png");
}

.icon-Twitter {
  background-image: url("../img/twitter_28_24.png");
}

.icon-Pinterest {
  background-image: url("../img/pinterest_23_29.png");
}

.icon-Instagram {
  background-image: url("../img/instagram_28_28.png");
}

.page-footer {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main::after {
  content: "";
  display: block;
  height: 1px;
  width: 1200px;
  position: absolute;
  background-color: #e5e5e5;
}

.copyright {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: left;
}
.copyright a {
  color: #f38181;
  text-decoration: none;
}

.team {
  margin-bottom: 84px;
}

input[type="email"] {
  width: 228px;
  height: 40px;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: #95e1d3;
  color: #ffffff;
  cursor: pointer;
  width: 150px;
  eight: 40px;
  transition: background-color 200ms linear;
}
