html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  color: #000000;
  font-size: 14px;
  font-weight: 400;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}
/* .header_bg{
  /* margin: 0 auto; 
  background-image: url("../img/eagle_1920_1000.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; 
  width: 1920px;
  min-height: 1000px; 
} */

.header_bg {
  background-image: url("../img/eagle_1920_1000_opt-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1000px;
  margin-bottom: 54px;
}

.page-header {
  /* margin-bottom: 134px; */

  text-transform: uppercase;
  color: #fff;
}

.page-nav {
  display: flex;
  align-items: flex-end;
  min-height: 50px;
  justify-content: space-between;
  margin-bottom: 92px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 490px;
  list-style: none;
}

.site-navigation a {
  display: block;
  /* color: #95e1d3; */
  text-decoration: none;
  transition: color 200ms linear;
  color: #fff;
}

.site-navigation svg {
  display: block;
  /* color: #95e1d3; */
  fill: #fff;
}

.site-navigation svg path {
  
  fill:inherit;

}

.logo {
  margin: 0;
  /* color: #95e1d3; */
  color: #fff;
  /* font-family: "Montserrat"; */
  font-weight: 700;
  text-decoration: none;
  font-size: 30px;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #fce38a;;
}

.site-navigation-item::after {
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  height: 3px;
  background-color: #fce38a;;
  margin: 10px auto 0 auto;
  opacity: 0;
  transition: opacity 200ms linear;
}

.site-navigation-item:hover::after {
  opacity: 1;
}

.site-navigation-item:hover,
.site-navigation-item:focus {
  color: #fce38a;;
}

.welcome {
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
}

.welcome-sub {
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: 400;
  text-transform: none;
}

.more_welcome_btn {
  display: block;
  width:160px;
  height: 40px;
  text-transform: uppercase;
  border: 3px solid #fff;
  /* padding: 15px auto; */
  /* align-items: center; */
  /* border-radius: 20px; */
  background-color: transparent;
  font-family: "Montserrat";
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}

.services-title {
  margin: 0;
  padding: 0;
}

.services-title,
.team-title {
  font-size: 30px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.services-title {
  margin-bottom: 64px;
}

.services-title {
  margin-bottom: 46px;
}

.services-title-add,
.team-title-add {
  display: block;
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  text-transform: initial;
}

.services-title::after,
.team-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.services-title::after {
  margin: 40px auto 0 auto;
}

.team-title::after {
  margin: 40px auto 0 auto;
}

.services-list-item {
  width: 380px;
}

.services-item-descr {
  position: relative;
  padding-left: 80px;
}

.services-list-item::before {
  content: "";
  display: block;
  height: 34px;
  width: 34px;
  background-repeat: no-repeat;
  position: absolute;
  transform: translateX(20px);
}

.services-list-item:nth-child(1)::before {
  background-image: url("../img/ALARM1_34_34.png");
}

.services-list-item:nth-child(2)::before {
  background-image: url("../img/LINE_GRAPH2_35_35.png");
}

.services-list-item:nth-child(3)::before {
  background-image: url("../img/COMPUTER_OK3_34_31.png");
}

.services-list-item:nth-child(4)::before {
  background-image: url("../img/BOOK_4_35_35.png");
}

.services-list-item:nth-child(5)::before {
  background-image: url("../img/HOME5_35_33.png");
}

.services-list-item:nth-child(6)::before {
  background-image: url("../img/IMAGE6_36_35.png");
}

.services-list,
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 100px;
}

.services-item-title,
.services-item-Shortdescr {
  padding: 0;
  margin: 0;
}

.services-item-title {
  margin-bottom: 20px;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
}

.services-item-Shortdescr {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
}
.services {
  margin-bottom: 100px;
}

/* Team section */

.team-list-item-image {
  display: block;
  width: 380px;
  height: 470px;
  object-fit: none;
  position: relative;
}

.team-list-item:nth-child(1) img {
  object-position: 20% 50%;
}

.team-list-item:nth-child(2) img {
  object-position: 50% 95%;
}
.team-list-item:nth-child(3) img {
  object-position: 50% 5%;
}

.team-socials {
  margin-bottom: 26px;
}

.team-descr {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
  margin-bottom: 90px;
}

.name {
  margin: 0;
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.occupation {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-family: "Roboto";
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.team-socials {
  display: flex;
  width: 380px;
  height: 470px;
  justify-content: center;
  align-items: center;
}

.team-socials {
  display: flex;
  position: relative;
}

.team-socials:hover {
  transform: translate(-10px, -10px);
  transition: transform 200ms linear;
}

.team-socials::after {
  content: "";
  opacity: 0;
  transition: opacity 200ms linear;
}

.team-socials:hover::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
  height: 470px;
  background: transparent;
  background-image: linear-gradient(
    0deg,
    rgba(240, 226, 144, 50%) 0%,
    rgba(233, 138, 137, 50%) 100%
  );
  z-index: 50;
  opacity: 1;
}
.team-socials:hover .team-socials-list {
  opacity: 1;
  transition: opacity 200ms linear;
}

.team-socials-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  position: absolute;
  z-index: 100;
  opacity: 0;
}

.team-socials-list a {
  display: block;
  width: 56px;
  height: 56px;
  /* background-color: #fce38a;
  background-repeat: no-repeat;
  background-position: center; */
  outline: 1px solid #f38181;
  /* transition: background-color 200ms linear; */
}

.team-socials-list-item > a:hover {
  /* background-color: #f38181; */
}

.team-socials-list svg {
display: block;
width: 56px;
height: 56px;
fill: #000000;
path: inherit;

}

.team-socials-list svg path {
  fill: inherit;

}


/* .icon-Facebook {
  background-image: url("../img/facebook_15_29.png");
}

.icon-Twitter {
  background-image: url("../img/twitter_28_24.png");
}

.icon-Pinterest {
  background-image: url("../img/pinterest_23_29.png");
}

.icon-Instagram {
  background-image: url("../img/instagram_28_28.png");
} */

.page-footer {
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main::after {
  content: "";
  display: block;
  height: 1px;
  width: 1200px;
  position: absolute;
  background-color: #e5e5e5;
}

.copyright {
  font-size: 14px;
  color: #333333;
  font-family: "Montserrat";
  font-weight: 400;
  text-align: left;
}
.copyright a {
  color: #f38181;
  text-decoration: none;
}

.team {
  margin-bottom: 84px;
}

input[type="email"] {
  width: 228px;
  height: 40px;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
}

input[type="submit"]:hover {
  background-color: #95e1d3;
  color: #ffffff;
  cursor: pointer;
  width: 150px;
  eight: 40px;
  transition: background-color 200ms linear;
}
