.more_welcome_btn {
  display: block;
  width: 160px;
  height: 40px;
  text-transform: uppercase;
  border: 3px solid $main-color;
  background-color: transparent;
  color: $main-color;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
}
