.welcome {
  text-transform: uppercase;
  text-align: center;
  font-size: 150px;
  margin-bottom: 110px;
}

.welcome__sub {
  font-family: "Kaushan Script";
  font-size: 72px;
  font-weight: $base-font-weight;
  text-transform: none;
}
