@media (max-width: 767px) {
  .partners-list-item:not(:last-child) {
    margin-bottom: 44px;
  }

  .partners-list-item {
    margin: 0 auto 28px auto;
  }
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding-top: 34px;
  }

  .logo {
    margin: 0;
    padding-top: 10px;
    text-align: left;
  }

  .login {
    margin: 0;
    padding: 0;
    
  }

  .promo-title {
    font-size: 52px;
    margin-bottom: 36px;
  }

  .promo-title-add {
    font-size: 24px;
  }

  .partners-list {
    display: flex;
    flex-wrap: wrap;
    
  }

  .partners-title {
    margin-bottom: 36px;
  }
  .partner-find {
    padding: 15px 19px;
  }


}

@media (min-width: 768px) and (max-width: 959px) {
  

  .promo_wrapper {
    background-image: url("../img/People_768_402_tablet.jpg");
    min-height: 702px;
  }

  .header {
    /* margin: 0 34px 140px 34px; */
    margin-bottom: 140px;
    justify-content: space-between;
  }

  .partners-list {
    height: 495px;
    justify-content: center;
    
  }

  /* .partners-list-item {
    margin: 0 auto; 
  } */
  
  .partners-list [class*="col-"]:nth-child(2n+1) {
  margin-bottom: 56px;
  
  
  }

  .partners-list-item a {
    left: 50%;
    top: 0;
    transform: translate(50%, 200%);
  }
}



@media (min-width: 960px) {

  .partners {
    padding-bottom: 74px;
  }

  .promo_wrapper {
    background-image: url("../img/People_1442_702_desktop.jpg");
    min-height: 702px;
  }
  
  .header {
    margin: 0 0 140px 0;
  }

  .login{
    justify-content: flex-end;
  }

  
  .partners-list {
    justify-content: space-between;
    margin-bottom: 38px;
  }

  .partners-list-item {
    width: 220px;
  }

  .partners-list-item a {
    left: 50%;
    top: 0;
    transform: translate(50%, 200%);
  }
}
